.parent-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #89cff0;
  display: flex;
  flex-direction: column;
}

.company-banner {
  width: 100%;
  height: 6vh;
  background-color: #0bda51;
  display: flex;
  flex-direction: row;
}

.company-text {
  font-size: 4vh;
  font-weight: bold;
  color: #08338f;
  margin-left: 1vh;
}

.product-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4vh;
}

.user-details-text {
  font-size: 4vh;
  font-weight: bold;
  color: purple;
  margin-left: 1vh;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.row-one-wrapper {
  display: flex;
  height: 35%;
}

.row-two-wrapper {
  display: flex;
  height: 65%;
}

.user-details-card {
  display: flex;
  background-color: #f0ffff;
  height: 100%;
  width: 70%;
  border-radius: 15px;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 2vh;
}

.user-image {
  width: 150%;
  height: 50%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vh;
  margin-right: 4vh;
}

.divider {
  width: 4px;
  height: 90%;
  background-color: #6f7378;
  align-self: center;
  border-radius: 10px;
}

.heart-rate-card {
  display: flex;
  flex-direction: column;
  background-color: #f0ffff;
  height: 100%;
  width: 30%;
  border-radius: 15px;
  margin-top: 2vh;
  margin-right: 2vh;
}

.graph-chart-card {
  display: flex;
  flex-direction: column;
  background-color: #f0ffff;
  margin-top: 2vw;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
  width: 70%;
  height: 90%;
  border-radius: 15px;
}

.dispatch-help-card {
  display: flex;
  flex-direction: column;
  background-color: #f0ffff;
  width: 30%;
  height: 90%;
  border-radius: 15px;
  margin-top: 2vw;
  margin-bottom: 2vh;
  margin-right: 2vh;
}

.user-info-wrapper {
  background-color: #f0ffff;
  width: 100%;
  height: 90%;
  display: flex;
  align-self: center;
  margin-left: 2vh;
  margin-right: 2vh;
}

.user-attribute {
  border: none;
}

tr {
  border: none;
}

.attribute {
  color: #636363;
  font-size: 90%;
  border: none;
}

.value {
  color: black;
  font-size: 120%;
  border: none;
}

.user-info-table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.user-info-table td {
  border: none;
}

.user-location-text {
  color: #08338f;
  font-weight: bold;
  text-align: left;
  margin-left: 1vh;
  margin-top: 0.4vh;
}

.realtime-heartrate-text {
  color: #08338f;
  font-weight: bold;
  text-align: left;
  margin-left: 1vh;
  margin-top: 0.4vh;
}

.gps-container {
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 88%;
  margin-top: 0.4vh;
  margin-bottom: 1vh;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0bda51; */
}

.maps-embeded {
  width: 100%;
  height: 80%;
  border: 0;
  border-radius: 15px;
  border: #da0b0b 2px solid;
}

.dispatch-help-button {
  width: 40%;
  height: 12%;
  border-radius: 8px;
  font-weight: bold;
  background-color: red;
}

.medic-dispatched-container {
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 88%;
  margin-top: 0.4vh;
  margin-bottom: 1vh;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0bda51; */
}

.ambulance-lottie {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 80%;
}

.medic-dispatched-text {
  color: purple;
  font-weight: bold;
  font-size: 140%;
}

.heartrate-container {
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 88%;
  margin-top: 0.4vh;
  align-self: center;
  margin-bottom: 1vh;
}

.graphchart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 100%;
  /* height: 50%; */
  margin-top: 0.4vh;
  align-self: center;
  margin-bottom: 1vh;
  overflow: hidden;
  margin-bottom: 0%;
}

.low-bp-container {
  width: 100%;
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.status-text {
  color: #636363;
  font-weight: bold;
  font-size: 90%;
}

.status-wrapper {
  display: flex;
  flex-direction: column;
}

.heartrate-value-wrapper {
  display: flex;
  flex-direction: column;
}

.low-status-chip {
  width: max-content;
  height: fit-content;
  font-size: 90%;
  font-weight: bold;
  color: #08338f;
  background-color: #89cff0;
  border: #08338f 2px solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.low-status-chip {
  width: max-content;
  height: fit-content;
  font-size: 90%;
  font-weight: bold;
  color: #08338f;
  background-color: #89cff0;
  border: #08338f 2px solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.normal-status-chip {
  width: max-content;
  height: fit-content;
  font-size: 90%;
  font-weight: bold;
  color: #023020;
  background-color: #90ee90;
  border: #023020 2px solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.high-status-chip {
  width: max-content;
  height: fit-content;
  font-size: 90%;
  font-weight: bold;
  color: #850606;
  background-color: #f77676;
  border: #850606 2px solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.low-bp-anim img {
  width: 220px;
  height: 136px;
  object-fit: fill;
}

.heartrate-info-section {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.heart-rate-value {
  color: black;
  width: max-content;
  height: fit-content;
  background-color: #c0c0c0;
  font-size: 200%;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.bpm-wrapper {
  display: flex;
}

.low-bp-anim {
  align-self: center;
}

.bpm-text {
  color: #636363;
  font-weight: bold;
  font-size: 100%;
  align-self: flex-end;
  margin-left: 10%;
}
